<!DOCTYPE html>
<html>
<head>

<link type="text/css" href="/static/css/MaterialIcons.css" rel="stylesheet">
<link type="text/css" href="/static/css/materialize.min.css" rel="stylesheet">
<link type="text/css" href="/static/css/chart.css" rel="stylesheet">
<link type="text/css" href="/static/css/theme.grey.css" rel="stylesheet">

</head>
<body style="font-family:arial, sans-serif;background-color:#e0e0e0;">

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/d3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.widgets.min.js"></script>

<style>

blockquote{border-left-color:#2196F3;}

</style>

{% block content %}{% endblock %}

</body>
</html>
